

* {
    box-sizing: border-box;
}
/* https://ak.picdn.net/shutterstock/videos/22001743/thumb/1.jpg */
body {
    /* background-image: url(https://wallpaperaccess.com/full/3399933.jpg); */
    background-image: url(https://i.pinimg.com/originals/23/61/1e/23611e9658ff969f204fca858b3c24a1.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    font-family: 'Bangers', cursive;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  gap: 0rem;
}

header {
  font-size: 45px;
  color: whitesmoke;
}

.grid {
    display: none;
    height: 750px;
    width: 650px;
    /* flex-direction: row; */
    flex: 1;
    border: 4px solid whitesmoke;
    flex-wrap: wrap;
    box-shadow: 10px;
}

.grid div {
    border: 1px solid white;
}

.shooter {
    background-image: url(./images/xwing3.png);
    background-size: cover;
}

.tie {
    background-image: url(https://static.thenounproject.com/png/1388671-200.png);
    background-size: cover;
}

.laser {
    background-image: url(./images/red.png);
    background-size: cover;
}

.explosion {
    background-image: url(./images/boom2.png);
    background-size: cover;
}

.bomb {
  background: url(./images/bomb.png) no-repeat center center / contain;
  background-size: contain;
}

#restart {
  display: none;
}

#button {
  display: flex;
  /* background-color:rgb(177, 0, 0); */
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 5px; 
  opacity: 1;
  background: url('https://c4.wallpaperflare.com/wallpaper/1005/822/563/star-wars-death-star-at-at-space-wallpaper-preview.jpg');
  color: whitesmoke;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  font-size: 25px;
}

.right {
  text-align: center;
  margin-right: 30px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 50vh;
  padding: 15px;
  text-align: center;
  /* background: url('https://c4.wallpaperflare.com/wallpaper/1005/822/563/star-wars-death-star-at-at-space-wallpaper-preview.jpg'); */
  color: whitesmoke;
}

h4 {
  padding: 2px;
  margin: 1px;
}

.interactive {
  display: none;
  font-size: 40px;
  color: whitesmoke;
}
/* #music {
  display: none;
} */
/* .img {
    height: 200px;
    width: 200px;
} */