* {
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/originals/23/61/1e/23611e9658ff969f204fca858b3c24a1.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}


.grid {
    display: flex;
    height: 650px;
    width: 550px;
    flex-direction: row;
    border: 0px solid rgb(177, 0, 0);
    flex-wrap: wrap;
}

.grid div {
    border: 0px dotted rgb(177, 0, 0);
}

.shooter {
    background-image: url(https://image.pngaaa.com/84/3218084-middle.png);
    background-size: 100%;
}

.tie {
    background-image: url(https://static.thenounproject.com/png/1388671-200.png);
    background-size: cover;
}

.laser {
    background-color: greenyellow;
    background-size: contain;
}

.explosion {
    background-image: url(https://previews.123rf.com/images/larser/larser1605/larser160500080/57118509-colored-cartoon-explosion-boom-cartoon-explosion-on-a-white-background-comic-speech-bubble-boom-stoc.jpg);
    background-size: cover;
}

.bomb {
  background-image: url(https://www.kindpng.com/picc/m/693-6935371_smoking-bomb-cartoon-evil-png-download-free-clipart.png);
  background-size: contain;
}

#restart {
  display: none;
}

#music {
  display: none;
}
/* .img {
    height: 200px;
    width: 200px;
} */